h1 {
  color: red;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  font-style: italic
}

p {
  font-family: sans-serif;
}

ol {
  font-size: 20px;
  color: blue;
  line-height: 30px;
}

body {
  background-color: yellow
}
